* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #CAEFD1;
    color: #ffff;
}

header {
    margin: 10px;
    padding: 20px;
    height: 90px;
    background-color: #7FE1AD;
    border-radius: 10px;
    background-image: url("../images/avocado.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

header h1 {
    height: 100%;
    text-align: center;
    font-size: 3em;
    line-height: 1.5em;
}

nav {
    display:grid;
    margin: 10px;
    padding: 5px;
    height: 40px;
    background-color: #7FE1AD;
    border-radius: 10px;
}

nav ul {
    height: 100%;
    border-radius: 10px;
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
}

nav ul li {
    display: inline-block;
    margin-right: 50px;
    height: 100%;
    width: 120px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color:cadetblue;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: #dfdce3;
    color: black;
}

main {
    margin: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
}

section article, aside {
    background-color: #7FE1AD;
}


section.article{
    grid-column: 1;
    grid-row: 1;
}

section.aside{
    grid-column: 2;
}


section article {
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
}

section aside {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
}

footer {  
    background-color: #7FE1AD;
    margin: 10px;
    padding: 5px;
    height: 90px;
    border-radius: 10px;
}

footer ul {   
    width: auto;
    height: auto;
    text-align: center;  
    list-style-type: none;
    float: right;  
}

footer ul li {
    display: inline-block;
    text-align: center;
    width: auto;
    height: auto;
}

footer ul li a {
    display: inline-block;
    width: auto;
    height: auto;
}

footer ul li a:hover{
    opacity: 0.5;
}

footer p {
    height: 100%;
    width: 100%;
    line-height: 4.625em;
    text-align: left;
    grid-row: 1;
    grid-column: 1;
}